legend {
    text-align: center;
    font-size: 20px;
    color: #a1caa4;
}

h1 {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 0px;
}

p {
    font-size: 15px;
    color: #717071;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form p {
    padding: 5px;
    margin: 0px;
}

form input,
textarea {
    text-align: center;
    color: #717071;
    width: 350px;
    height: 25px;
}



.button {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    margin: 10px 10px;
    padding: 10px 25px;
    color: #717071;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.5pt;
    text-decoration: none;
    background-color: #a1caa4;
    border: 1px solid #a1caa4;
    cursor: pointer;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
}

.btn:hover {
    color: #717071;
    background-color: #bae5bc;
}